html body {
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 550px;
    height: 550px;
    left: 62px;
    top: 64px;

    background: #1F2937;
}

h1 {
    color: white;
    font-size: 35px;
    margin-bottom: -25px;
}

h2 {
    font-size: 35px;
    color: #4ADF86;
}

button {
    background: lightseagreen;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 3px;
}

.pass {
    margin: 0px 11px 15px 2px;
    background-color:  #273549;
    border: none;
    border-radius: 6px;
    height: 39px;
    width: 211px;
    text-align: center;
    color: #55F911;
}

p {
    font-size: 22px;
    color: white;
    text-align: left;
}

